@import "tailwindcss";


@layer utilities{
   .animate-in {
    animation-fill-mode: both;
   }

   .slide-in-from-top {
    animation-name: slideInFromTop;
   }

     .slide-in-from-buttom {
    animation-name: slidInFromBottom;
   }
    
.duration-200{
    animation-duration: 200ms;
}

.duration-300{
    animation-duration: 300ms;
}

.duration-700{
    animation-duration: 700ms;
}

.delay-300{
    animation-delay: 300sm;
}


.delay-200{
    animation-delay: 200sm;
}

.delay-100{
    animation-delay: 100sm;
}
}


@keyframes slidInFromBottom {
    from{
        opacity: o;
        transform: translateY(1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes slidInFromTop {
    from{
        opacity: o;
        transform: translateY(-1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}